baselines-master/.benchmark_pattern
baselines-master/.gitignore
baselines-master/.travis.yml
baselines-master/benchmarks_atari10M.htm
baselines-master/benchmarks_mujoco1M.htm
baselines-master/Dockerfile
baselines-master/LICENSE
baselines-master/README.md
baselines-master/setup.cfg
baselines-master/setup.py
baselines-master/baselines/__init__.py
baselines-master/baselines/logger.py
baselines-master/baselines/results_plotter.py
baselines-master/baselines/run.py
baselines-master/baselines/a2c/__init__.py
baselines-master/baselines/a2c/a2c.py
baselines-master/baselines/a2c/README.md
baselines-master/baselines/a2c/runner.py
baselines-master/baselines/a2c/utils.py
baselines-master/baselines/acer/__init__.py
baselines-master/baselines/acer/acer.py
baselines-master/baselines/acer/buffer.py
baselines-master/baselines/acer/defaults.py
baselines-master/baselines/acer/policies.py
baselines-master/baselines/acer/README.md
baselines-master/baselines/acer/runner.py
baselines-master/baselines/acktr/__init__.py
baselines-master/baselines/acktr/acktr.py
baselines-master/baselines/acktr/defaults.py
baselines-master/baselines/acktr/kfac_utils.py
baselines-master/baselines/acktr/kfac.py
baselines-master/baselines/acktr/README.md
baselines-master/baselines/acktr/utils.py
baselines-master/baselines/bench/__init__.py
baselines-master/baselines/bench/benchmarks.py
baselines-master/baselines/bench/monitor.py
baselines-master/baselines/bench/test_monitor.py
baselines-master/baselines/common/__init__.py
baselines-master/baselines/common/atari_wrappers.py
baselines-master/baselines/common/cg.py
baselines-master/baselines/common/cmd_util.py
baselines-master/baselines/common/console_util.py
baselines-master/baselines/common/dataset.py
baselines-master/baselines/common/distributions.py
baselines-master/baselines/common/input.py
baselines-master/baselines/common/math_util.py
baselines-master/baselines/common/misc_util.py
baselines-master/baselines/common/models.py
baselines-master/baselines/common/mpi_adam_optimizer.py
baselines-master/baselines/common/mpi_adam.py
baselines-master/baselines/common/mpi_fork.py
baselines-master/baselines/common/mpi_moments.py
baselines-master/baselines/common/mpi_running_mean_std.py
baselines-master/baselines/common/mpi_util.py
baselines-master/baselines/common/plot_util.py
baselines-master/baselines/common/policies.py
baselines-master/baselines/common/retro_wrappers.py
baselines-master/baselines/common/runners.py
baselines-master/baselines/common/running_mean_std.py
baselines-master/baselines/common/schedules.py
baselines-master/baselines/common/segment_tree.py
baselines-master/baselines/common/test_mpi_util.py
baselines-master/baselines/common/tf_util.py
baselines-master/baselines/common/tile_images.py
baselines-master/baselines/common/wrappers.py
baselines-master/baselines/common/tests/__init__.py
baselines-master/baselines/common/tests/test_cartpole.py
baselines-master/baselines/common/tests/test_doc_examples.py
baselines-master/baselines/common/tests/test_env_after_learn.py
baselines-master/baselines/common/tests/test_fetchreach.py
baselines-master/baselines/common/tests/test_fixed_sequence.py
baselines-master/baselines/common/tests/test_identity.py
baselines-master/baselines/common/tests/test_mnist.py
baselines-master/baselines/common/tests/test_plot_util.py
baselines-master/baselines/common/tests/test_schedules.py
baselines-master/baselines/common/tests/test_segment_tree.py
baselines-master/baselines/common/tests/test_serialization.py
baselines-master/baselines/common/tests/test_tf_util.py
baselines-master/baselines/common/tests/test_with_mpi.py
baselines-master/baselines/common/tests/util.py
baselines-master/baselines/common/tests/envs/__init__.py
baselines-master/baselines/common/tests/envs/fixed_sequence_env.py
baselines-master/baselines/common/tests/envs/identity_env_test.py
baselines-master/baselines/common/tests/envs/identity_env.py
baselines-master/baselines/common/tests/envs/mnist_env.py
baselines-master/baselines/common/vec_env/__init__.py
baselines-master/baselines/common/vec_env/dummy_vec_env.py
baselines-master/baselines/common/vec_env/shmem_vec_env.py
baselines-master/baselines/common/vec_env/subproc_vec_env.py
baselines-master/baselines/common/vec_env/test_vec_env.py
baselines-master/baselines/common/vec_env/test_video_recorder.py
baselines-master/baselines/common/vec_env/util.py
baselines-master/baselines/common/vec_env/vec_env.py
baselines-master/baselines/common/vec_env/vec_frame_stack.py
baselines-master/baselines/common/vec_env/vec_monitor.py
baselines-master/baselines/common/vec_env/vec_normalize.py
baselines-master/baselines/common/vec_env/vec_remove_dict_obs.py
baselines-master/baselines/common/vec_env/vec_video_recorder.py
baselines-master/baselines/ddpg/__init__.py
baselines-master/baselines/ddpg/ddpg_learner.py
baselines-master/baselines/ddpg/ddpg.py
baselines-master/baselines/ddpg/memory.py
baselines-master/baselines/ddpg/models.py
baselines-master/baselines/ddpg/noise.py
baselines-master/baselines/ddpg/README.md
baselines-master/baselines/ddpg/test_smoke.py
baselines-master/baselines/deepq/__init__.py
baselines-master/baselines/deepq/build_graph.py
baselines-master/baselines/deepq/deepq.py
baselines-master/baselines/deepq/defaults.py
baselines-master/baselines/deepq/models.py
baselines-master/baselines/deepq/README.md
baselines-master/baselines/deepq/replay_buffer.py
baselines-master/baselines/deepq/utils.py
baselines-master/baselines/deepq/experiments/__init__.py
baselines-master/baselines/deepq/experiments/custom_cartpole.py
baselines-master/baselines/deepq/experiments/enjoy_cartpole.py
baselines-master/baselines/deepq/experiments/enjoy_mountaincar.py
baselines-master/baselines/deepq/experiments/enjoy_pong.py
baselines-master/baselines/deepq/experiments/train_cartpole.py
baselines-master/baselines/deepq/experiments/train_mountaincar.py
baselines-master/baselines/deepq/experiments/train_pong.py
baselines-master/baselines/gail/__init__.py
baselines-master/baselines/gail/adversary.py
baselines-master/baselines/gail/behavior_clone.py
baselines-master/baselines/gail/gail-eval.py
baselines-master/baselines/gail/mlp_policy.py
baselines-master/baselines/gail/README.md
baselines-master/baselines/gail/run_mujoco.py
baselines-master/baselines/gail/statistics.py
baselines-master/baselines/gail/trpo_mpi.py
baselines-master/baselines/gail/dataset/__init__.py
baselines-master/baselines/gail/dataset/mujoco_dset.py
baselines-master/baselines/gail/result/gail-result.md
baselines-master/baselines/gail/result/HalfCheetah-normalized-deterministic-scores.png
baselines-master/baselines/gail/result/HalfCheetah-normalized-stochastic-scores.png
baselines-master/baselines/gail/result/halfcheetah-training.png
baselines-master/baselines/gail/result/HalfCheetah-unnormalized-deterministic-scores.png
baselines-master/baselines/gail/result/HalfCheetah-unnormalized-stochastic-scores.png
baselines-master/baselines/gail/result/Hopper-normalized-deterministic-scores.png
baselines-master/baselines/gail/result/Hopper-normalized-stochastic-scores.png
baselines-master/baselines/gail/result/hopper-training.png
baselines-master/baselines/gail/result/Hopper-unnormalized-deterministic-scores.png
baselines-master/baselines/gail/result/Hopper-unnormalized-stochastic-scores.png
baselines-master/baselines/gail/result/Humanoid-normalized-deterministic-scores.png
baselines-master/baselines/gail/result/Humanoid-normalized-stochastic-scores.png
baselines-master/baselines/gail/result/humanoid-training.png
baselines-master/baselines/gail/result/Humanoid-unnormalized-deterministic-scores.png
baselines-master/baselines/gail/result/Humanoid-unnormalized-stochastic-scores.png
baselines-master/baselines/gail/result/HumanoidStandup-normalized-deterministic-scores.png
baselines-master/baselines/gail/result/HumanoidStandup-normalized-stochastic-scores.png
baselines-master/baselines/gail/result/humanoidstandup-training.png
baselines-master/baselines/gail/result/HumanoidStandup-unnormalized-deterministic-scores.png
baselines-master/baselines/gail/result/HumanoidStandup-unnormalized-stochastic-scores.png
baselines-master/baselines/gail/result/Walker2d-normalized-deterministic-scores.png
baselines-master/baselines/gail/result/Walker2d-normalized-stochastic-scores.png
baselines-master/baselines/gail/result/walker2d-training.png
baselines-master/baselines/gail/result/Walker2d-unnormalized-deterministic-scores.png
baselines-master/baselines/gail/result/Walker2d-unnormalized-stochastic-scores.png
baselines-master/baselines/her/__init__.py
baselines-master/baselines/her/actor_critic.py
baselines-master/baselines/her/ddpg.py
baselines-master/baselines/her/her_sampler.py
baselines-master/baselines/her/her.py
baselines-master/baselines/her/normalizer.py
baselines-master/baselines/her/README.md
baselines-master/baselines/her/replay_buffer.py
baselines-master/baselines/her/rollout.py
baselines-master/baselines/her/util.py
baselines-master/baselines/her/experiment/__init__.py
baselines-master/baselines/her/experiment/config.py
baselines-master/baselines/her/experiment/play.py
baselines-master/baselines/her/experiment/plot.py
baselines-master/baselines/her/experiment/data_generation/fetch_data_generation.py
baselines-master/baselines/ppo1/__init__.py
baselines-master/baselines/ppo1/cnn_policy.py
baselines-master/baselines/ppo1/mlp_policy.py
baselines-master/baselines/ppo1/pposgd_simple.py
baselines-master/baselines/ppo1/README.md
baselines-master/baselines/ppo1/run_atari.py
baselines-master/baselines/ppo1/run_humanoid.py
baselines-master/baselines/ppo1/run_mujoco.py
baselines-master/baselines/ppo1/run_robotics.py
baselines-master/baselines/ppo2/__init__.py
baselines-master/baselines/ppo2/defaults.py
baselines-master/baselines/ppo2/microbatched_model.py
baselines-master/baselines/ppo2/model.py
baselines-master/baselines/ppo2/ppo2.py
baselines-master/baselines/ppo2/README.md
baselines-master/baselines/ppo2/runner.py
baselines-master/baselines/ppo2/test_microbatches.py
baselines-master/baselines/trpo_mpi/__init__.py
baselines-master/baselines/trpo_mpi/defaults.py
baselines-master/baselines/trpo_mpi/README.md
baselines-master/baselines/trpo_mpi/trpo_mpi.py
baselines-master/data/cartpole.gif
baselines-master/data/fetchPickAndPlaceContrast.png
baselines-master/data/logo.jpg
baselines-master/docs/viz/viz.ipynb
